# Python
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
.venv/
*.db

# Tests
.pytest_cache/
.coverage
htmlcov/

# Node
node_modules/
dist/

# IDE
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# Docker
*.log

# Load test reports
loadtest/reports/

# Miscellaneous
Hallazgos.md

# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Local tfvars (keep only *.example in repo)
*.tfvars